PyYAML
selenium
Pillow
discord.py
pandas
requests
drawsvg[all]
webuiapi
dataframe_image
matplotlib
langchain-ollama
langchain
transformers
langgraph
torch
langchain-chroma
langchain-community
duckduckgo-search